<a href="https://colab.research.google.com/github/matthewincledon/Project-Files/blob/master/Matthew_Incledon_Data_Platform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Your colleague is working on a game to help teach kids about the solar system. She found an API that would let her get information about solar system objects. Using the [API documentation](https://api.le-systeme-solaire.net/en/) and [web UI](https://api.le-systeme-solaire.net/swagger/#/bodies/get_bodies) she was able to get the data about objects classified as planets into a pandas dataframe, as shown in the code below. (Note that she had to exclude the "rel" field, as that caused a problem for the JSON->Dataframe conversion.) She is asking you to take on some of this project.

In the game, players will be able to design their own solar system objects. They can specify some of the values and leave others blank for the game to fill in with something reasonable.

To support this, please write a function that takes in a dictionary of fields and values and returns the item in the database that is "closest" to these values, so that your colleague can use it to fill in missing fields. Use your judgement about which fields you should support and which are not things that users would be choosing.

In [ ]:
import requests
import json
!pip install fsspec
import pandas as pd
import numpy as np

Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/ec/80/72ac0982cc833945fada4b76c52f0f65435ba4d53bc9317d1c70b5f7e7d5/fsspec-0.8.5-py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 3.8MB/s
Installing collected packages: fsspec
Successfully installed fsspec-0.8.5

In [ ]:
r = requests.get("https://api.le-systeme-solaire.net/rest.php/bodies?exclude=rel&filter%5B%5D=isPlanet%2Cneq%2Cfalse")
# GET request to this endpoint with following parameters:
# exclude = rel
# filter[] = isPlanet != FALSE
# returns 13 planet records
r.text

'{"bodies":[{"id":"ceres","name":"(1) Cérès","englishName":"1 Ceres","isPlanet":true,"moons":null,"semimajorAxis":413690250,"perihelion":382620000,"aphelion":445410000,"eccentricity":0.07582,"inclination":10.59300,"mass":{"massValue":9.39300,"massExponent":20},"vol":{"volValue":4.21000,"volExponent":9},"density":2.16100,"gravity":0.28000,"escape":510.00000,"meanRadius":476.20000,"equaRadius":487.00000,"polarRadius":455.00000,"flattening":0.96190,"dimension":"","sideralOrbit":1681.63000,"sideralRotation":9.07000,"aroundPlanet":null,"discoveredBy":"Giuseppe Piazzi","discoveryDate":"01/01/1801","alternativeName":"A899 OF - 1943 XB","axialTilt":3},{"id":"eris","name":"(136199) Éris","englishName":"136199 Eris","isPlanet":true,"moons":[{"moon":"Dysnomie"}],"semimajorAxis":10180122852,"perihelion":5765732799,"aphelion":14594512904,"eccentricity":0.44068,"inclination":44.04450,"mass":{"massValue":1.66000,"massExponent":22},"vol":{"volValue":6.59000,"volExponent":9},"density":2.52000,"gravity":0.82000,"escape":1380.00000,"meanRadius":1163.00000,"equaRadius":0.00000,"polarRadius":0.00000,"flattening":0.00000,"dimension":"","sideralOrbit":203830.00000,"sideralRotation":25.92000,"aroundPlanet":null,"discoveredBy":"Michael E. Brown, Chadwick Trujillo, David L. Rabinowitz","discoveryDate":"05/01/2005","alternativeName":"2003 UB313","axialTilt":0},{"id":"uranus","name":"Uranus","englishName":"Uranus","isPlanet":true,"moons":[{"moon":"Ariel"},{"moon":"Umbriel"},{"moon":"Titania"},{"moon":"Obéron"},{"moon":"Miranda"},{"moon":"Cordélia"},{"moon":"Ophélie"},{"moon":"Bianca"},{"moon":"Cressida"},{"moon":"Desdémone"},{"moon":"Juliette"},{"moon":"Portia"},{"moon":"Rosalinde"},{"moon":"Belinda"},{"moon":"Puck"},{"moon":"Caliban"},{"moon":"Sycorax"},{"moon":"Prospero"},{"moon":"Setebos"},{"moon":"Stephano"},{"moon":"Trinculo"},{"moon":"Francisco"},{"moon":"Margaret"},{"moon":"Ferdinand"},{"moon":"Perdita"},{"moon":"Mab"},{"moon":"Cupid"}],"semimajorAxis":2870658186,"perihelion":2734998229,"aphelion":3006318143,"eccentricity":0.04570,"inclination":0.77200,"mass":{"massValue":8.68127,"massExponent":25},"vol":{"volValue":6.83300,"volExponent":13},"density":1.27000,"gravity":8.87000,"escape":21380.00000,"meanRadius":25362.00000,"equaRadius":25559.00000,"polarRadius":24973.00000,"flattening":0.02293,"dimension":"","sideralOrbit":30685.40000,"sideralRotation":-17.24000,"aroundPlanet":null,"discoveredBy":"William Herschel","discoveryDate":"13/03/1781","alternativeName":"","axialTilt":97.77},{"id":"pluton","name":"Pluton","englishName":"Pluto","isPlanet":true,"moons":[{"moon":"Charon"},{"moon":"Nix"},{"moon":"Hydra"},{"moon":"Kerberos"},{"moon":"Styx"}],"semimajorAxis":5906440628,"perihelion":4436756954,"aphelion":7376124302,"eccentricity":0.24880,"inclination":17.16000,"mass":{"massValue":1.30300,"massExponent":22},"vol":{"volValue":7.15000,"volExponent":9},"density":1.89000,"gravity":0.62000,"escape":1210.00000,"meanRadius":1188.30000,"equaRadius":1188.30000,"polarRadius":1195.00000,"flattening":0.00000,"dimension":"","sideralOrbit":90465.00000,"sideralRotation":-153.29280,"aroundPlanet":null,"discoveredBy":"Clyde W. Tombaugh","discoveryDate":"18/02/1930","alternativeName":"","axialTilt":122.5},{"id":"neptune","name":"Neptune","englishName":"Neptune","isPlanet":true,"moons":[{"moon":"Triton"},{"moon":"Néreïde"},{"moon":"Naïade"},{"moon":"Thalassa"},{"moon":"Despina"},{"moon":"Galatée"},{"moon":"Larissa"},{"moon":"Protée"},{"moon":"Halimède"},{"moon":"Psamathée"},{"moon":"Sao"},{"moon":"Laomédie"},{"moon":"Néso"},{"moon":"Hippocampe"}],"semimajorAxis":4498396441,"perihelion":4459753056,"aphelion":4537039826,"eccentricity":0.01130,"inclination":1.76900,"mass":{"massValue":1.02413,"massExponent":26},"vol":{"volValue":6.25400,"volExponent":13},"density":1.63800,"gravity":11.15000,"escape":23560.00000,"meanRadius":24622.00000,"equaRadius":24764.00000,"polarRadius":24341.00000,"flattening":0.01708,"dimension":"","sideralOrbit":60189.00000,"sideralRotation":16.11000,"aroundPlanet":null,"discoveredBy":"Urbain Le Verrier, John Couch Adams, Johann Galle","discoveryDate":"23/09/1846","alternativeName":"","axialTilt":28.3},{"id":"haumea","name":"(136108) Hauméa","englishName":"136108 Haumea","isPlanet":true,"moons":[{"moon":"Namaka"},{"moon":"Hi\'iaka"}],"semimajorAxis":6432011461,"perihelion":5157623774,"aphelion":7706399149,"eccentricity":0.19126,"inclination":28.19000,"mass":{"massValue":4.00600,"massExponent":21},"vol":{"volValue":2.40000,"volExponent":9},"density":2.60000,"gravity":0.40100,"escape":809.00000,"meanRadius":33.00000,"equaRadius":0.00000,"polarRadius":498.00000,"flattening":0.61020,"dimension":"1960 × 1518 × 996","sideralOrbit":103774.00000,"sideralRotation":3.92000,"aroundPlanet":null,"discoveredBy":"Michael E. Brown, Jos&eacute; Luis Ortiz Moreno","discoveryDate":"28/12/2004","alternativeName":"2003 EL61","axialTilt":0},{"id":"makemake","name":"(136472) Makémaké","englishName":"136472 Makemake","isPlanet":true,"moons":[{"moon":"S/2015 (136472) 1"}],"semimajorAxis":6783345606,"perihelion":5671928586,"aphelion":7894762625,"eccentricity":0.15586,"inclination":29.00685,"mass":{"massValue":4.40000,"massExponent":21},"vol":{"volValue":1.70000,"volExponent":9},"density":1.40000,"gravity":0.50000,"escape":800.00000,"meanRadius":725.00000,"equaRadius":745.00000,"polarRadius":715.00000,"flattening":0.05000,"dimension":"","sideralOrbit":112897.00000,"sideralRotation":0.00000,"aroundPlanet":null,"discoveredBy":"Michael E. Brown, Chadwick Trujillo, David L. Rabinowitz","discoveryDate":"31/03/2005","alternativeName":"2005 FY9","axialTilt":0},{"id":"jupiter","name":"Jupiter","englishName":"Jupiter","isPlanet":true,"moons":[{"moon":"Io"},{"moon":"Europe"},{"moon":"Ganymède"},{"moon":"Callisto"},{"moon":"Amalthée"},{"moon":"Himalia"},{"moon":"Élara"},{"moon":"Pasiphaé"},{"moon":"Sinopé"},{"moon":"Lysithéa"},{"moon":"Carmé"},{"moon":"Ananké"},{"moon":"Léda"},{"moon":"Thébé"},{"moon":"Adrastée"},{"moon":"Métis"},{"moon":"Callirrhoé"},{"moon":"Thémisto"},{"moon":"Mégaclité"},{"moon":"Taygété"},{"moon":"Chaldéné"},{"moon":"Harpalyké"},{"moon":"Kalyké"},{"moon":"Iocasté"},{"moon":"Erinomé"},{"moon":"Isonoé"},{"moon":"Praxidyké"},{"moon":"Autonoé"},{"moon":"Thyoné"},{"moon":"Hermippé"},{"moon":"Aitné"},{"moon":"Eurydomé"},{"moon":"Euanthé"},{"moon":"Euporie"},{"moon":"Orthosie"},{"moon":"Spondé"},{"moon":"Calé"},{"moon":"Pasithée"},{"moon":"Hégémone"},{"moon":"Mnémé"},{"moon":"Aoedé"},{"moon":"Thelxinoé"},{"moon":"Arché"},{"moon":"Callichore"},{"moon":"Hélicé"},{"moon":"Carpo"},{"moon":"Eukéladé"},{"moon":"Cyllène"},{"moon":"Coré"},{"moon":"Hersé"},{"moon":"S/2003 J 2"},{"moon":"Euphémé"},{"moon":"S/2003 J 4"},{"moon":"Eiréné"},{"moon":"S/2003 J 9"},{"moon":"S/2003 J 10"},{"moon":"S/2003 J 12"},{"moon":"Philophrosyne"},{"moon":"S/2003 J 16"},{"moon":"S/2003 J 18"},{"moon":"S/2003 J 19"},{"moon":"S/2003 J 23"},{"moon":"Dia"},{"moon":"S/2010 J 1"},{"moon":"S/2010 J 2"},{"moon":"S/2011 J 1"},{"moon":"S/2011 J 2"},{"moon":"S/2017 J 1"},{"moon":"S/2016 J 1"},{"moon":"Valétudo"},{"moon":"S/2017 J 2"},{"moon":"S/2017 J 3"},{"moon":"Pandia"},{"moon":"S/2017 J 5"},{"moon":"S/2017 J 6"},{"moon":"S/2017 J 7"},{"moon":"S/2017 J 8"},{"moon":"S/2017 J 9"},{"moon":"Ersa"}],"semimajorAxis":778340821,"perihelion":740379835,"aphelion":816620000,"eccentricity":0.04890,"inclination":1.30400,"mass":{"massValue":1.89819,"massExponent":27},"vol":{"volValue":1.43128,"volExponent":15},"density":1.32620,"gravity":24.79000,"escape":60200.00000,"meanRadius":69911.00000,"equaRadius":71492.00000,"polarRadius":66854.00000,"flattening":0.06487,"dimension":"","sideralOrbit":4332.58900,"sideralRotation":9.92500,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":3.12},{"id":"mars","name":"Mars","englishName":"Mars","isPlanet":true,"moons":[{"moon":"Phobos"},{"moon":"Deïmos"}],"semimajorAxis":227943824,"perihelion":206700000,"aphelion":249200000,"eccentricity":0.09350,"inclination":1.85000,"mass":{"massValue":6.41712,"massExponent":23},"vol":{"volValue":1.63180,"volExponent":11},"density":3.93410,"gravity":3.71000,"escape":5030.00000,"meanRadius":3389.50000,"equaRadius":3396.19000,"polarRadius":3376.20000,"flattening":0.00589,"dimension":"","sideralOrbit":686.98000,"sideralRotation":24.62290,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":25.19},{"id":"mercure","name":"Mercure","englishName":"Mercury","isPlanet":true,"moons":null,"semimajorAxis":57909227,"perihelion":46001200,"aphelion":69816900,"eccentricity":0.20560,"inclination":7.00000,"mass":{"massValue":3.30114,"massExponent":23},"vol":{"volValue":6.08300,"volExponent":10},"density":5.42910,"gravity":3.70000,"escape":4250.00000,"meanRadius":2439.40000,"equaRadius":2440.53000,"polarRadius":2439.70000,"flattening":0.00000,"dimension":"","sideralOrbit":87.96900,"sideralRotation":1407.60000,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":0.0352},{"id":"saturne","name":"Saturne","englishName":"Saturn","isPlanet":true,"moons":[{"moon":"Mimas"},{"moon":"Encelade"},{"moon":"Téthys"},{"moon":"Dioné"},{"moon":"Rhéa"},{"moon":"Titan"},{"moon":"Hypérion"},{"moon":"Japet"},{"moon":"Phœbé"},{"moon":"Janus"},{"moon":"Epiméthée"},{"moon":"Hélène"},{"moon":"Télesto"},{"moon":"Calypso"},{"moon":"Atlas"},{"moon":"Prométhée"},{"moon":"Pandore"},{"moon":"Pan"},{"moon":"Ymir"},{"moon":"Paaliaq"},{"moon":"Tarvos"},{"moon":"Ijiraq"},{"moon":"Suttungr"},{"moon":"Kiviuq"},{"moon":"Mundilfari"},{"moon":"Albiorix"},{"moon":"Skathi"},{"moon":"Erriapo"},{"moon":"Siarnaq"},{"moon":"Thrymr"},{"moon":"Narvi"},{"moon":"Méthone"},{"moon":"Pallène"},{"moon":"Pollux"},{"moon":"Daphnis"},{"moon":"Aegir"},{"moon":"Bebhionn"},{"moon":"Bergelmir"},{"moon":"Bestla"},{"moon":"Farbauti"},{"moon":"Fenrir"},{"moon":"Fornjot"},{"moon":"Hati"},{"moon":"Hyrrokkin"},{"moon":"Kari"},{"moon":"Loge"},{"moon":"Skoll"},{"moon":"Surtur"},{"moon":"Anthé"},{"moon":"Jarnsaxa"},{"moon":"Greip"},{"moon":"Tarqeq"},{"moon":"Égéon"},{"moon":"S/2004 S 7"},{"moon":"S/2004 S 12"},{"moon":"S/2004 S 13"},{"moon":"S/2004 S 17"},{"moon":"S/2006 S 1"},{"moon":"S/2006 S 3"},{"moon":"S/2007 S 2"},{"moon":"S/2007 S 3"},{"moon":"S/2009 S 1"},{"moon":"S/2004 S 22"},{"moon":"S/2004 S 21"},{"moon":"S/2004 S 20"},{"moon":"S/2004 S 23"},{"moon":"S/2004 S 24"},{"moon":"S/2004 S 25"},{"moon":"S/2004 S 26"},{"moon":"S/2004 S 27"},{"moon":"S/2004 S 28"},{"moon":"S/2004 S 29"},{"moon":"S/2004 S 30"},{"moon":"S/2004 S 31"},{"moon":"S/2004 S 32"},{"moon":"S/2004 S 33"},{"moon":"S/2004 S 34"},{"moon":"S/2004 S 35"},{"moon":"S/2004 S 36"},{"moon":"S/2004 S 37"},{"moon":"S/2004 S 38"},{"moon":"S/2004 S 39"}],"semimajorAxis":1426666422,"perihelion":1349823615,"aphelion":1503509229,"eccentricity":0.05650,"inclination":2.48500,"mass":{"massValue":5.68336,"massExponent":26},"vol":{"volValue":8.27130,"volExponent":14},"density":0.68710,"gravity":10.44000,"escape":36090.00000,"meanRadius":58232.00000,"equaRadius":60268.00000,"polarRadius":54364.00000,"flattening":0.09796,"dimension":"","sideralOrbit":10759.22000,"sideralRotation":10.65600,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":26.73},{"id":"terre","name":"La Terre","englishName":"Earth","isPlanet":true,"moons":[{"moon":"La Lune"}],"semimajorAxis":149598262,"perihelion":147095000,"aphelion":152100000,"eccentricity":0.01670,"inclination":0.00000,"mass":{"massValue":5.97237,"massExponent":24},"vol":{"volValue":1.08321,"volExponent":12},"density":5.51360,"gravity":9.80000,"escape":11190.00000,"meanRadius":6371.00840,"equaRadius":6378.13660,"polarRadius":6356.80000,"flattening":0.00335,"dimension":"","sideralOrbit":365.25600,"sideralRotation":23.93450,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":23.4393},{"id":"venus","name":"Vénus","englishName":"Venus","isPlanet":true,"moons":null,"semimajorAxis":108208475,"perihelion":107477000,"aphelion":108939000,"eccentricity":0.00670,"inclination":3.39000,"mass":{"massValue":4.86747,"massExponent":24},"vol":{"volValue":9.28430,"volExponent":11},"density":5.24300,"gravity":8.87000,"escape":10360.00000,"meanRadius":6051.80000,"equaRadius":6051.80000,"polarRadius":6051.80000,"flattening":0.00000,"dimension":"","sideralOrbit":224.70100,"sideralRotation":-5832.50000,"aroundPlanet":null,"discoveredBy":"","discoveryDate":"","alternativeName":"","axialTilt":177.36}]}'

In [ ]:
df = pd.read_json(json.dumps(json.loads(r.text)["bodies"]), orient="records")
df

          id               name  ...    alternativeName  axialTilt
0      ceres          (1) Cérès  ...  A899 OF - 1943 XB     3.0000
1       eris      (136199) Éris  ...         2003 UB313     0.0000
2     uranus             Uranus  ...                       97.7700
3     pluton             Pluton  ...                      122.5000
4    neptune            Neptune  ...                       28.3000
5     haumea    (136108) Hauméa  ...          2003 EL61     0.0000
6   makemake  (136472) Makémaké  ...           2005 FY9     0.0000
7    jupiter            Jupiter  ...                        3.1200
8       mars               Mars  ...                       25.1900
9    mercure            Mercure  ...                        0.0352
10   saturne            Saturne  ...                       26.7300
11     terre           La Terre  ...                       23.4393
12     venus              Vénus  ...                      177.3600

[13 rows x 27 columns]

In [ ]:
df2=df[df['id']!='ceres']
#df2[['id','englishName','density']]

###The following are supported input data points and explanation


|Field                | Explanation                |
|---------------------|:---------------------------|
|id                   |not valid, cannot know ID from API ahead of time|
|name                 | not valid, the French name of a planet being similar does not give an indication of other similar attributes|
|englishName          |not valid, the English name of a planet being similar does not give an indication of other similar attributes|
|isPlanet             |not valid, these will all be planets as input|
|moons                |not valid, the moons of a planet do not give an indication of other similar attributes|
|semimajorAxis        |valid, feature of planet|
|perihelion           |valid, describes the planets distance to the sun at closest point, which is distinct feature|
|aphelion             |valid, describes the planets distance to the sun at furthest point, which is distinct feature|
|eccentricity         |valid, distinct shape characteristic|
|inclination          |valid, planet's tilt relationship relative to earth|
|mass.massValue       |not valid, is a function of other features|
|mass.massExponent    |not valid, is a function of other features|
|vol.volValue         |not valid, is a function of other features|
|vol.volExponent      |not valid, is a function of other features|
|density              |valid, distinct feature of planet|
|escape               |valid, escape velocity is distinct feature of planet|
|meanRadius           |valid, distinct feature of planet|
|equaRadius           |valid, distinct feature of planet|
|polarRadius          |valid, distinct feature of planet|
|flattening           |valid, distinct feature of planet|
|dimension            |not valid since it's a string with 3 values delimited by x where order cannot be guaranteed so unable to compare|
|sideralOrbit         |valid, distinct feature of planet|
|sideralRotation      |valid, distinct feature of planet|
|aroundPlanet         |not valid, all values are null|
|discoveredBy         |not valid, knowing the discoverer will not help determine the other similar attributes|
|discoveryDate        |not valid, knowing the discover date will not help determine the other similar attributes|
|alternativeNamee     |not valid, knowing the alternative name will not help determining the other similar attributes|
|axialTilt            |valid, distinct feature of planet|

In [ ]:
# creating an array of fields that are suitable for input per the table above
suitable_fields = ['semimajorAxis', 'perihelion', 'aphelion', 'eccentricity', 'inclination', 'density', 'gravity', 
                   'escape', 'meanRadius', 'equaRadius', 'polarRadius', 'flattening', 'sideralOrbit', 'sideralRotation', 'axialTilt']

###Please use the following cell to populate the dictionary with the inputs that you plan to define.  
####PLEASE UNCOMMENT FIELDS YOU PLAN TO USE AND PROVIDE VALUES

In [ ]:
 # create a dictionary for the inputs based on what the players define.  PLEASE UNCOMMENT FIELDS YOU PLAN TO USE AND PROVIDE VALUES
input_dict = {#'semimajorAxis': 0, 
              'perihelion': 2700000000, 
              #'aphelion': 0,
              'eccentricity': 0.19126, 
              #'inclination': 0, 
              'density': 1.3, 
              #'gravity': 0,
              #'escape': 0, 
              #'meanRadius': 0,
              #'equaRadius': 0, 
              'polarRadius': 230, 
              #'flattening': 0, 
              #'sideralOrbit': 0, 
              #'sideralRotation': 0, 
              #'axialTilt': 0 
}

###Version 1: Deterministic Matching
####This will look for exact matches between your input per input_dict and planet values from the Solar System REST API.  Whichever planet has the most exact matches will be provided as output

Run this cell to establish the function

In [ ]:
# create function that will take a dictionary as input parameter and output the planet from the database that most closely matches the inputs provided based on exact matches
def get_closest_planet_deterministic(input_dict, suitable_fields):  
  
  # create dictionary for count of deterministic matches by planet index
  matched_count = {0: 0,
                   1: 0,
                   2: 0,
                   3: 0,
                   4: 0,
                   5: 0,
                   6: 0,
                   7: 0,
                   8: 0,
                   9: 0,
                   10: 0,
                   11: 0,
                   12: 0
                   }
  
  # create array to populate index of keys for matched values per data point
  match_ids_arr = []
  
  # create variable for the winning index, which will be used to output results
  matched_winner_index = 0

  # need to loop through all dictionary values to evaluate matching fields in DB
  for key in input_dict: 
    
    # if statement to evaluate if the key provided on input is part of suitable fields the game evaluates on
    if(key not in suitable_fields):
      print("The following input field is not supported in this game: " + key)
    
    else:
      print("input key:", key, "input value:", input_dict[key], "match id:", df[df[key]==input_dict[key]].index.values)  

      # add index to array when the input value matches a value from the DB
      match_ids_arr = df[df[key]==input_dict[key]].index.values
      
      # loop through the array of matches
      for index in match_ids_arr:
        # increment the index that matched in matched_count dictionary
        matched_count[index] += 1
        
      # reset match_ids_arr until next key is evaluated
      match_ids_arr = []
      
  # choose maximum match count as the winner
  maximum = max(matched_count, key=matched_count.get)
  matched_winner_index = maximum
  print("Thanks for playing!  Here's the planet closest to your defined inputs:") # print result message
  print(df.iloc[[matched_winner_index]]) # print result message

Run this cell to evaluate the function and receive output

In [ ]:
get_closest_planet_deterministic(input_dict, suitable_fields)

input key: perihelion input value: 2700000000 match id: []
input key: eccentricity input value: 0.19126 match id: [5]
input key: density input value: 1.3 match id: []
input key: polarRadius input value: 230 match id: []
Thanks for playing!  Here's the planet closest to your defined inputs:
       id             name  ... alternativeName  axialTilt
5  haumea  (136108) Hauméa  ...       2003 EL61        0.0

[1 rows x 27 columns]

###Version 2: Probabilistic Matching
####This will look for the difference in values between your input per input_dict and planet values from the Solar System REST API.  Whichever planet has the lowest absolute value summation will be provided as output.

Run this cell to establish the function

In [ ]:
# create function that will take a dictionary as input parameter and output the planet from the database that most closely matches the inputs provided based on approximate matches
def get_closest_planet_probabilistic(input_dict, suitable_fields):  
  
  # create dataframe for an absoluate value count of difference between provided values and planets' values
  df_evalmatrix = pd.DataFrame(np.zeros((15, 13)),index=suitable_fields, columns=[df['id'].to_numpy()])
  
  # create variable for the winning index, which will be used to output results
  matched_winner_index = 0

  # need to loop through all dictionary values to evaluate matching fields in DB
  for key in input_dict: 
    
    # if statement to evaluate if the key provided on input is part of suitable fields the game evaluates on
    if(key not in suitable_fields):
      print("The following input field is not supported in this game: " + key)
    
    else:
      print("input key:", key, "input value:", input_dict[key])  

      # loop through input_dict to calculate differences in values for each planet for each data point
      for count in range(len(df)):
        # subtract the value of the planet attribute from the value of the input attribute and take absolute value, increment this result to the appropriate cell in the weighting matrix
        df_evalmatrix.loc[key][count] += abs(df[key].values[count] - input_dict[key])

  # sum each column of the dataframe
  planet_sum = df_evalmatrix.sum(axis = 0, skipna = True) 

  # find the minimum sum of columns and choose that index as matched_winner
  matched_winner_index = df[df["id"]==planet_sum.idxmin()[0]].index[0]

  # print the matrix of weights
  print(df_evalmatrix)

  print("Thanks for playing!  The minimum match value was " , round(df_evalmatrix.sum(axis=0, skipna=True).min()), " and the maximum match value was ", round(df_evalmatrix.sum(axis=0, skipna=True).max()))
  print("Here's the planet closest to your defined inputs using probabilistic matching:") # print result message
  print(df.iloc[[matched_winner_index]]) # print result message

Run this cell to evaluate the function and receive output

In [ ]:
get_closest_planet_probabilistic(input_dict, suitable_fields)

input key: perihelion input value: 2700000000
input key: eccentricity input value: 0.19126
input key: density input value: 1.3
input key: polarRadius input value: 230
                        ceres          eris  ...         terre         venus
semimajorAxis    0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
perihelion       2.317380e+09  3.065733e+09  ...  2.552905e+09  2.592523e+09
aphelion         0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
eccentricity     1.154400e-01  2.494200e-01  ...  1.745600e-01  1.845600e-01
inclination      0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
density          8.610000e-01  1.220000e+00  ...  4.213600e+00  3.943000e+00
gravity          0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
escape           0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
meanRadius       0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
equaRadius       0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
polarRadius      2.250000e+02  2.300000e+02  ...  6.126800e+03  5.821800e+03
flattening       0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
sideralOrbit     0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
sideralRotation  0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
axialTilt        0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00

[15 rows x 13 columns]
Thanks for playing!  The minimum match value was  35022972  and the maximum match value was  3065733030
Here's the planet closest to your defined inputs using probabilistic matching:
       id    name englishName  ...  discoveryDate alternativeName  axialTilt
2  uranus  Uranus      Uranus  ...     13/03/1781                      97.77

[1 rows x 27 columns]